@font-face {
  font-family: 'DejaVu Sans Mono';
  src: url('app://canvas-studio/static/fonts/DejaVuSansMono.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
}

.CodeMirror {
  height: 100%;
}
